<ul class="styled lift">
  {{#each primary as |category|}}
    <li>
      {{#link-to subRoute category.key}}
        {{category.key}}

        <small>{{category.values.length}} datasets</small>
      {{/link-to}}
    </li>
  {{/each}}
</ul>
