<ul class="styled lift">
  {{#each primary as |category|}}
    <li>
      {{#link-to subRoute category.key}}
        <div class="category-item-content">
          <div class="category-item-column">
            {{category.key}}
          </div>

          <div class="category-item-column">
            <small>{{category.values.length}} datasets</small>
          </div>
        </div>
      {{/link-to}}
    </li>
  {{/each}}
</ul>
