<thead>
  <tr>
    {{#each fields as |field|}}
      <th>
        {{#if (find-by 'name' field metadata)}}
          {{#with (find-by 'name' field metadata) as |meta|}}
            {{meta.alias}}
          {{/with}}
        {{else}}
          {{field}}
        {{/if}}
      </th>
    {{/each}}
  </tr>
</thead>
<tbody>
  {{#each model as |item|}}
    <tr>
      {{#each fields as |field|}}
        <td>
          {{get item field}}
        </td>
      {{/each}}
    </tr>
  {{/each}}
</tbody>
