body {
  color: $color_font-dark;
  font-size: $font_size-base;
  font-family: $font_family-primary;

  background: $color_bg-light;
}

.divider-column {
  position: relative;

  padding: 0 !important;
}

.scroll-horizontal-rotated {
  overflow-x: auto;
  transform:rotateX(180deg);
  -ms-transform:rotateX(180deg); /* IE 9 */
  -webkit-transform:rotateX(180deg); /* Safari and Chrome */
}

.cancel-rotate {
  transform:rotateX(180deg);
  -ms-transform:rotateX(180deg); /* IE 9 */
  -webkit-transform:rotateX(180deg); /* Safari and Chrome */
}

.lift { box-shadow: 0 2px 4px rgba(0,0,0,.14); }
