{{#liquid-bind model use='toUp'}}  
  <div class="scrollable-menus">
    <h4>{{model.firstObject.menu1}}</h4>

    {{menus-component 
      model=model 
      groupColumn='menu2'  
      subRoute='categories.sub-categories.datasets'
    }}
  </div>
{{/liquid-bind}}

{{outlet}}
