.route.datasets {

  .back-link {
    z-index: 10;
    top: 2px;

    a {
      position: absolute;
      top: 0;
      left: 0;

      color: $color_brand-secondary;
      font-size: $font_size-small;
      font-weight: 700;

      transition: color .12s;

      &:hover {
        color: $color_brand-secondary--dark;

        transition: color .12s;
      }
    }
  }

  h2 { margin-bottom: 4px; }

  .table-meta {
    margin-top: 0;

    font-size: $font_size-xsmall;
    font-style: italic;

    li {
      display: inline-block;

      &:not(:first-of-type) { margin-left: 30px; }
    }

    em { font-weight: 700; }
  }

  .year-filter {

  }

  .download-links {
    position: absolute;
    bottom: -4px;
    right: 0;

    font-size: $font_size-xsmall;
  }

  .download-buttons {
    display: inline-block;
    top: -6px;

    margin-left: 5px;

    a {
      margin: auto 3px;

      font-size: $font_size-xsmall;
    }

    $spreadLevels: 2 3 4;

    @each $spread in $spreadLevels {
      &.gradient-#{$spread} a {
        @for $i from 1 through $spread {
          &:nth-of-type(#{$i}) { @include partialGradient($i, $spread); }
        }
      }
    }
  }


  .table-wrapper { @extend ._partial-bg; }

  .pagination {
    padding-top: 2rem;

    text-align: right;

    & > div { display: inline-block; }

    .separator {
      display: inline-block;
      top: 4px;

      height: 17px;
      width: 1px;

      margin: auto;
      background: $color_font-medium;
    }

    .button-wrapper {
      vertical-align: middle;
      border-radius: $elem_button-radius;
      transition: opacity .15s, background .15s;

      &:first-of-type { @include partialGradient(1, 2); }
      &:last-of-type { @include partialGradient(2, 2); }

      &.disabled {
        opacity: .4;
        background: $color_font-medium;
        transition: opacity .15s, background .15s;

        button { cursor: initial; }
      }

      .separator { background: rgba($color_bg-dark, .15); }
    }

    button {
      height: 100%;
      padding: .2em .6em .45em;

      background: none;
    }

    .page-counter {
      top: 2px;

      margin: auto 10px;

      .separator { margin: auto 3px; }
    }
  }

}
