<header>
  <div>
    {{#link-to 'application'}}
      Data Browser
    {{/link-to}}
    <div>
      {{searchable-select content=searchables
                          sortBy='title'
                          on-change=(route-action 'selectDataset')
                          cache=true
                          prompt='Search Datasets'
                          class='item'}}
    </div>
  </div>
</header>

<main>
  {{outlet}}
</main>

<footer>
</footer>
