<section class="route categories">
  <div class="scrollable-menus">
    <h3>
      Topics
    </h3>
    {{#liquid-bind model use='toUp'}}
      {{menus-component model=model}}
    {{/liquid-bind}}
  </div>

  {{outlet}}
</section>
