<section class="route categories">

  <div class="search-header">
    <div class="container tight">
      {{input placeholder=searchPlaceholder value=searchQuery}}
    </div>
  </div>

  <div class="scrollable-menus">
    <h3>
      Topics
    </h3>
    {{#liquid-bind model use='toUp'}}
      {{menus-component model=model}}
    {{/liquid-bind}}
  </div>

  {{outlet}}
</section>
