<section class="route categories">

  <div class="page-header">
    <div class="container tight">
      {{search-bar records=searchables class="lift"}}
    </div>
  </div>

  <div class="category-lists">
    <div class="container tight">
      <div class="scrollable-menus">
        <h3>Topics</h3>

        {{#liquid-bind model use="toUp"}}
          {{menus-component model=model}}
        {{/liquid-bind}}
      </div>

      {{outlet}}
    </div>
  </div>

</section>
